<h1 class="admin-form-header">Cohorts</h1>

<% @cohorts.each do |cohort| %>
<div class="well">
    <p class="admin-form"><%= cohort.name %></p>
    <%= link_to " More Info", cohort_path(cohort), class: 'btn btn-default', class: 'admin-form-orange' %>
</div>


<% end %>