<h1>Students</h1>

<% @students.each do |student| %>
<div class="well">
    <h2><%= student.first_name %></h2>
        <h2><%= student.last_name %></h2>
    <%= link_to "Full Profile", student_path(student), class: 'btn btn-primary' %>
</div>


<% end %>