<%= render 'shared/dashboard' %>


<h1 class="admin-form-header">Instructors</h1>

<% @instructors.each do |instructor| %>
<div class="well">
    <p class="admin-form"><%= instructor.first_name %> <%= instructor.last_name %></p>
        
    <%= link_to " Full Profile", instructor_path(instructor), class: 'btn btn-default', class: 'admin-form-orange' %>
</div>


<% end %>