<div class="top-line"></div>
  <div class="title-bar">
  <div class="symbols-one">⚒</div>
  <div class="header-one">school of </div><div class="header-two">HARD KNOCKS</div>
  <div class="symbols-two">⚒</div>
  </div>
  <nav class="header-thin-line"></nav>
  <nav class="header-top-line"></nav>
    <nav class="header-thin-line"></nav>