<h1 class="admin-form-header">Courses</h1>

<% @courses.each do |course| %>
<div class="well">
    <h2 class="admin-form"><%= course.name %></h2>
    <%= link_to "More Info", course_path(course), class: 'btn btn-primary', class: 'admin-form-orange'  %>
</div>


<% end %>