/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.body {
    display: grid;
}

.container {
    padding-top: 30px;
}

.admin-form {
    font-family: 'Montserrat', sans-serif;
    color: #272E4F;
    font-size: 20px;
}

.login-blue {
    font-family: 'Montserrat', sans-serif;
    color: #272E4F;
    font-size: 15px;
}

.login-orange {
    font-family: 'Montserrat', sans-serif;
    color: #FF5E3A;
    font-size: 15px;
}

.admin-form-bold {
    font-family: 'Montserrat', sans-serif;
    color: #272E4F;
    font-size: 20px;
    font-weight: bold;
}

.admin-display {
    display: flex;
    flex-direction: row;
}

.admin-form-orange {
    font-family: 'Montserrat', sans-serif;
    color: #FF5E3A;
    font-size: 20px;
    padding-left: 15px;
}

.admin-form-orange:hover {
    font-family: 'Montserrat', sans-serif;
    color: 2C365D;
    font-size: 20px;
    text-decoration: none;
}

.admin-form-header {
    font-family: 'Montserrat', sans-serif;
    color: #272E4F;
    font-size: 40px;
}

.top-line {
    height: 15px;
    background-color: #272E4F;
}

.title-bar {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F0;
}

.symbols-one {
    color: #FF5E3A;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.symbols-two {
    color: #FF5E3A;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 25px;
}

.header-one {
    font-family: 'Montserrat', sans-serif;
    color: #272E4F;
    font-size: 50px;
    padding: 25px 0px 25px 25px;
}

.header-two {
    font-family: 'Lora', serif;
    color: #272E4F;
    font-size: 50px;
    padding: 25px 0px 25px 25px;
}

.header-thin-line {
    height: 2px;
    background-color: #272E4F;
}

.header-top-line {
    height: 15px;
    background-color: #FF5E3A;
}

.welcome-user {
    font-family: 'Lora', serif;
    color: #272E4F;
    font-size: 25px;
    background-color: #F2F2F0;
    overflow: hidden;
    padding: 10px 0px 10px 20px;
}

.header-bottom-line {
    height: 2px;
    background-color: #272E4F;
}

.navbar {
    font-family: 'Lora', serif;
    color: #272E4F;
    font-size: 25px;
    background-color: #F2F2F0;
    overflow: hidden;
}

.navigation {
    width: 300px;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
}

.well {
    display: flex;
    flex-direction: row;
}

/* reset our lists to remove bullet points and padding */

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 100px;
}

.mainmenu {
    height: 100% !important;
}

/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F0;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    color: #272E4F;
}

/* add hover behaviour */

.mainmenu a:hover {
    background-color: #C5C5C5;
}

/* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */

.submenu a {
    background-color: #999;
}

/* hover behaviour for links inside .submenu */

.submenu a:hover {
    background-color: #666;
    color: #FF5E3A;
}

/* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}